Source: slapos-node
Maintainer: Arnaud Fontaine <arnaud.fontaine@nexedi.com>
Section: net
Priority: optional
Build-Depends: debhelper (>= 4.1.16),
               chrpath,
               po-debconf,
               wget,
               python,
	       python-setuptools
Homepage: http://www.slapos.org

Package: slapos-node
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ucf,
# slapformat
         bridge-utils,
         uml-utilities,
# slapgrid-sr
Recommends: libc6-dev | libc-dev,
            gcc | c-compiler,
            g++ | c++-compiler,
            make,
            patch,
Description: Client-side to deploy applications with SlapOS 
 SlapOS allows one to turn any application into SaaS (Service as a System),
 PaaS (Platform as a Service) or IaaS (Infrastructure as a Service) without
 loosing your freedom. SlapOS defines two types of servers: SlapOS server and
 SlapOS node.
 .
 This package contains libraries and tools to deploy a node.
 .
 Slapformat prepares a SlapOS node before running slapgrid. It then generates
 a report and sends the information to the configured SlapOS master.
 .
 Slapgrid allows you to easily deploy instances of software based on buildout
 profiles.
